*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#gameBoard{
    border: 4px solid black;
}
#gameContainer{
    text-align: center;
    margin-top: 20px;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 70px;
    margin-top: 80px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: 2px solid red;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.arrows{
    position: relative;
    display: flex;
    justify-content: center;
}
.arrow{
    width: 150px;
    height: 80px;
}
.left{
    transform: translate(45%, 50%);
}
.up{
    transform: translate(55%);
}
.down{
    transform: translate(-45%, 120%);
}
.right{
    transform: translate(-35%, 50%);
}